.Aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--size-xl) 1fr;
  max-height: 100vh;
  overflow-x: hidden;
  border-right: 1px solid var(--color-highlight);
  z-index: 9999;
}

.Head {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-xl);
  position: sticky;
  top: 0px;
  z-index: 999;
}

.Head::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: -28px;
  width: 500px;
  height: var(--size-xl);
  background-color: var(--color-secondary);
  backdrop-filter: blur(var(--size-xs));
  z-index: -1;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
  cursor: pointer;
}

.Body {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-xl);
  padding-block: var(--size-xl);
}

.Container {
  height: 100vh;
}

@media (max-width: 768px) {
  .Aside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    flex-grow: 1;
    overflow: hidden;
  }

  .Container {
    width: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--size-xl) 1fr;
    padding: 0px var(--size-xs);
    border-right: 1px solid var(--color-highlight);
    background-color: var(--color-background);
    backdrop-filter: blur(var(--size-xs));
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
  }

  .Cover {
    flex-grow: 1;
    background-color: var(--color-secondary);
    backdrop-filter: blur(var(--size-xs));
    height: 100vh;
  }

  .Head::after {
    background-color: var(--color-background);
  }

  .Aside {
    position: fixed;
    z-index: 999;
    min-width: calc(100vw - 1px);
  }
}

@media (min-width: 769px) {
  .Aside {
    grid-area: 1/1/3/2;
    min-width: 292px;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100vh;
    min-height: 100vh;
    border-right: 1px solid var(--color-highlight);
    background-color: var(--color-secondary);
    overflow-y: hidden;
  }

  .Cover {
    display: none;
  }

  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--size-xl) 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: var(--size-xs);
    min-width: 292px;
  }
}

@media (min-width: 769px) and (max-width: 1536px) {
  .Container {
    padding-inline-start: var(--size-md);
  }
}

@media (min-width: 1537px) and (max-width: 2303px) {
  .Container {
    padding-inline-start: var(--size-xl);
  }
}

@media (min-width: 2304px) {
  .Container {
    padding-inline-start: calc(128px + (100vw - 2304px) / 2);
  }
}
