.Nav {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 999999;
}

@media (width < 769px) {
  .Large {
    display: none;
  }

  .Small,
  .Head {
    all: inherit;
  }

  .Body {
    position: absolute;
    top: calc(var(--size-xl) + 1px);
    bottom: 0px;
    right: 0px;
    padding: var(--size-xl) var(--size-md);
    width: clamp(192px, 60vw, 256px);
    border-left: 1px solid var(--color-highlight);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--size-xl);
    overflow-y: auto;
    background-color: var(--color-secondary);
    height: calc(100vh - var(--size-xl) - var(--size-xl) - var(--size-xl));
    backdrop-filter: blur(var(--size-xs));
  }
}

@media (width > 768px) {
  .Small {
    display: none;
  }
  .Head {
    cursor: pointer;
  }
  .Large {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-xl);
  }
}

.Before {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.After {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
