{
  "branches": [
    {
      "name": "staging"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ],
        "message": "release(`/`): release ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}